@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(30, 39, 44);
  --color-secondary: rgb(195, 176, 152);
}

body {
  background-color: var(--color-primary);
  
}
